* {
  box-sizing: border-box;
}


header {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right,
      #080808 10%,
      #060606 0%,
      #fafafa 60%,
      #fafafa 100%);
}

@media screen and(max-width: 1000px) {
  .header {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,
        #0e0e0e 10%,
        #121212 0%,
        #fafafa 20%,
        #fafafa 100%);
  }
}

.header {
  overflow: hidden;
  background-color: #030303;
  padding: 10px 0px 10px 0px;
  display: flex;
  justify-content: space-between;
}

.header a {
  float: left;
  color: #090909;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.navbar {
  font-family: cursive;
}


.header a.logo {
  color: #ffffff;
  font-family: Matura MT Script Capitals;
  font-size: 20px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: rgb(253, 253, 253);
}

.header a.logo:hover {
  background: none;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}



/* home */

.galleryContainer {
  width: 100%;
  height: 700px;
  margin: auto;
  user-select: none;
  box-shadow: 0px 0px 3px 1px #00000078;
  padding: 0px;
  box-sizing: border-box;
}

.galleryContainer .slideShowContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: gainsboro;
  position: relative;
}

.galleryContainer .slideShowContainer #playPause {
  width: 32px;
  height: 32px;
  position: absolute;
  background-image: url(images/playPause.png);
  background-repeat: no-repeat;
  z-index: 5;
  background-size: cover;
  margin: 5px;
  cursor: pointer;
}

.galleryContainer .slideShowContainer #playPause:hover {
  opacity: .7;
}

.galleryContainer .slideShowContainer .imageHolder {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}

.galleryContainer .slideShowContainer .imageHolder img {
  width: 100%;
  height: 100%;
}

.galleryContainer .slideShowContainer .imageHolder .captionText {
  display: none;
}

.galleryContainer .slideShowContainer .leftArrow,
.galleryContainer .slideShowContainer .rightArrow {
  width: 50px;
  background: #00000036;
  position: absolute;
  left: 0;
  z-index: 1;
  transition: background 0.5s;
  height: 72px;
  top: 50%;
  transform: translateY(-50%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.galleryContainer .slideShowContainer .rightArrow {
  left: auto;
  right: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.galleryContainer .slideShowContainer .leftArrow:hover,
.galleryContainer .slideShowContainer .rightArrow:hover {
  background: #000000a8;
  cursor: pointer;
}

.galleryContainer .arrow {
  display: inline-block;
  border: 3px solid white;
  width: 10px;
  height: 10px;
  border-left: none;
  border-bottom: none;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.galleryContainer .arrow.arrowLeft {
  transform: rotateZ(-135deg);
}

.galleryContainer .arrow.arrowRight {
  transform: rotateZ(45deg);
}


.galleryContainer .slideShowContainer>.captionTextHolder {
  position: absolute;
  bottom: 0;
  z-index: 1;
  color: white;
  font-family: sans-serif;
  font-size: 2px;
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}

.galleryContainer .slideShowContainer>.captionTextHolder>.captionText {
  margin: 0;
}

.galleryContainer #dotsContainer {
  width: 100%;
  height: 10%;
  text-align: center;
  padding-top: 20px;
  box-sizing: border-box;
}

.galleryContainer #dotsContainer .dots {
  display: inline-block;
  width: 5px;
  height: 2px;
  border-radius: 50%;
  margin-left: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.galleryContainer #dotsContainer .dots:first-child {
  margin-left: 0;
}

.galleryContainer #dotsContainer .dots:hover,
.galleryContainer #dotsContainer .dots.active {
  background-color: #717171;
  ;
}

.galleryContainer .moveLeftCurrentSlide {
  animation-name: moveLeftCurrent;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

}

.galleryContainer .moveLeftNextSlide {
  animation-name: moveLeftNext;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes moveLeftCurrent {
  from {
    margin-left: 0;
    opacity: 1;
  }

  to {
    margin-left: -100%;
    opacity: 1;
  }
}

@keyframes moveLeftNext {
  from {
    margin-left: 100%;
    opacity: 1;
  }

  to {
    margin-left: 0%;
    opacity: 1;
  }
}


.galleryContainer .moveRightCurrentSlide {
  animation-name: moveRightCurrent;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.galleryContainer .moveRightPrevSlide {
  animation-name: moveRightPrev;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes moveRightCurrent {
  from {
    margin-left: 0;
    opacity: 1;
  }

  to {
    margin-left: 100%;
    opacity: 1;
  }
}

@keyframes moveRightPrev {
  from {
    margin-left: -100%;
    opacity: 1;
  }

  to {
    margin-left: 0%;
    opacity: 1;
  }
}

.slideTextFromBottom {
  animation-name: slideTextFromBottom;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
}

@keyframes slideTextFromBottom {
  from {
    opacity: 0;
    margin-top: 100px
  }

  to {
    opacity: 1;
    margin-top: 0px;
  }
}

.slideTextFromTop {
  animation-name: slideTextFromTop;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
}

@keyframes slideTextFromTop {
  from {
    opacity: 0;
    margin-top: -100px
  }

  to {
    opacity: 1;
    margin-top: 0px;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

.container {
  position: relative;
  text-align: center;
  color: black;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  font-size: 100px;
  font-family: 'Courgette', cursive;
  font-weight: 700;
}


/* about1 */

.about {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 100px 70px;
  gap: 100px;
}

.about2 {
  background-color: rgba(220, 214, 197, 0.815);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 100px 50px;
  gap: 100px;
}


.para1img {
  height: 100%;
  width: 100%;
  border-radius: 30px;
}

.para2img {
  /* flex-basis: 60%; */
  height: 100%;
  width: 100%;
  border-radius: 30px;
}

@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');

.h1 {
  font-size: 30px;
  font-family: 'Delius Swash Caps', cursive;
}

.h {
  font-size: 20px;
}

.para1 {
  word-break: normal;
  text-align: justify;
  text-justify: inter-word;
  font-size: 15px;
  padding: 20px;
  font-family: 'Edu SA Beginner', cursive;
}

@media screen and (max-width: 1100px) {
  .about {
    width: 100%;
    padding: 50px 30px;
    gap: 50px;
    flex-direction: column;
  }

  .about2 {
    width: 100%;
    padding: 50px 30px;
    gap: 50px;
    flex-direction: column;
  }

  .navbar a:not(:first-child) {
    display: none;
  }

  .navbar a.icon {
    float: right;
    display: block;
  }

  .centered {
    font-size: 20px;
  }

  .slideShowContainer {
    width: 80%;
    height: 50%;
  }
}



/* hatcheries */

.column_paras {
  background-color: #f9f7f7;
}

.row_title {
  padding: 5px;
  font-size: 2.4rem;
  text-align: center;
  font-family: 'Delius Swash Caps', cursive;
}

.container {
  position: relative;
  width: 1160px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective: 500px;
  margin: auto;
  padding-bottom: 100px;
  padding-top: 0px;
}

.container .box {
  position: relative;
  width: 275px;
  height: 275px;
  background: #000;
  transition: 0.5s;
  transform-style: preserve-3d;
  overflow: hidden;
  margin-right: 15px;
  margin-top: 45px;
  border-radius: 20px;
}

.container:hover .box {
  transform: rotateY(25deg);
}

.container .box:hover~.box {
  transform: rotateY(-25deg);
}

.container .box:hover {
  transform: rotateY(0deg) scale(1.25);
  z-index: 1;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.container .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container .box .imgBx:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgb(230, 224, 224), #000);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  mix-blend-mode: multiply;
}

.container .box:hover .imgBx:before {
  opacity: 1;
}

.container .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: flex-end;
  box-sizing: border-box;
}

.container .box .content h2 {
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 20px;
  transform: translateY(200px);
  transition-delay: 0.3s;
}

.container .box:hover .content h2 {
  transform: translateY(0px);
}

.container .box .content p {
  color: #fff;
  transition: 0.5s;
  font-size: 14px;
  transform: translateY(200px);
  transition-delay: 0.4s;
}

.container .box:hover .content p {
  transform: translateY(0px);
}


@media screen and (max-width:1100px) {
  .container {
    flex-direction: column;
    align-items: center;
    width: 100%
  }

  .container:hover .box {
    transform: rotatex(-25deg);
  }

  .container .box:hover~.box {
    transform: rotatex(25deg);
  }

  .container .box:hover {
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
  }

  .container .box {
    width: 275px;
    height: 175px;
    transition: 0.7s;
  }

  .container .box .content {
    position: absolute;
    top: 20px;
    right: 10px;
    left: 5px;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;
  }
}


/* feed css */


@import url(https://fonts.googleapis.com/css?family=Raleway);

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.feed {
  min-height: 60vh;
  width: 100%;
  background-color: #bcc4c679;
  padding: 50px 0px 100px 0px;
  /* border: 1px solid black; */
}

.main-title {
  font-family: 'Delius Swash Caps', cursive;
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

.feed_containers {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feed_container {
  flex-basis: 31%;
  padding: 1em 0;
  /* background-color: #bcc4c679; */
}

@media screen and (max-width: 1100px) {
  .feed_containers {
    flex-direction: column;
  }

  .feed_container {
    flex-basis: 100%;
    padding: 10px 0px;
  }
}

@media screen and (max-width: 700px) {
  .feed {
    padding: 20px 0px 30px 0px;
  }
}

/* @media screen and (min-width: 1100px){
  .feed_container{
    flex-direction: column;
    width: 33.33333%;
    height: 100%;
  }
} */

.feed_container .title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 100px;
  font-family: 'Courgette', cursive;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 30px;
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
  border-radius: 30px;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p {
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom {
  top: 80%;
}

.fadeIn-top {
  top: 20%;
}

.fadeIn-left {
  left: 20%;
}

.fadeIn-right {
  left: 80%;
}


/* D  &  P */

.d_p {
  background-color: rgba(250, 250, 250, 0.815);
  padding: 2%;
}

.dpcontainer {
  position: relative;
  text-align: center;
  color: rgb(81, 18, 18);
}

.dptitle {
  padding-bottom: 20px;
  text-align: center;
  font-family: 'Delius Swash Caps', cursive;
}

.image_container {
  max-width: 1000px;
  max-height: 70vh;
  margin: auto;
  /* border: 2px solid black; */
  overflow: hidden;
  border-radius: 20px;
}

.dpimg {
  min-height: 100%;
  min-width: 100%;
}

.dptext {
  font-family: 'Courgette', cursive;
  color: rgb(8, 1, 1);
  padding: 30px 100px 30px 100px;
  font-size: 20px;
  font-weight: bold;
}


@media screen and (max-width:1100px) {

  .dpimg {
    width: 400px;
  }

  .dptitle {
    font-size: 10px;
  }

  .dptext {
    font-size: 20px;
    padding: 10px;
  }

}

@media screen and (max-width:850px) {
  .dptext {
    font-size: 15px;
    padding: 10px;
  }
}




/* prices */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");


.p-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* border: 2px solid black; */
  background-color: rgba(220, 214, 197, 0.815);
  padding: 0px 0px 40px 0px;
}

.prices_title {
  padding: 30px 0px 15px 0px;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-container {
  /* border: 2px solid black; */
  width: 270px;
  height: 540px;
  position: relative;
  margin: 0 20px;
}

.image-container {
  width: 230px;
  height: 100;
  position: absolute;
  top: 0;
  left: 20px;
  z-index: 9999;
}

.poster {
  width: 100%;
  box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
}

.prices {
  background: #fff;
  width: 270px;
  height: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  top: 20px;
  box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
  opacity: 0;
}

.price-container:hover .prices {
  opacity: 1;
  animation: bounceIn 0.6s linear;
}

@keyframes bounceIn {

  0%,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.01, 1.01, 1.01);
    transform: scale3d(1.01, 1.01, 1.01);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

/* @keyframes bounce {
  50% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
} */

.price__content {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 60px;
}

.types {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.price__text {
  color: #999;
  font-size: 1rem;
  margin-bottom: 20px;
  font-weight: 100px;
}

@media screen and (max-width: 700px) {
  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 50%;
  }
}


/* .............................................................................. */
