* {
    box-sizing: border-box;
}

html,
body {
    padding: 0px 0 0 0;
    margin: 0;
}

header {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,
            #080808 10%,
            #060606 0%,
            #fafafa 60%,
            #fafafa 100%);
}

@media screen and(max-width: 1000px) {
    .header {
        width: 100%;
        height: 100%;
        background: linear-gradient(to right,
                #0e0e0e 10%,
                #121212 0%,
                #fafafa 20%,
                #fafafa 100%);
    }
}

.header {
    overflow: hidden;
    background-color: #030303;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
}

.header a {
    float: left;
    color: #090909;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.navbar {
    font-family: cursive;
}

.header a.logo {
    color: #ffffff;
    font-family: Matura MT Script Capitals;
    font-size: 20px;
    font-weight: bold;
}

.header a:hover {
    background-color: #ddd;
    color: rgb(255, 255, 255);
}

.header a.logo:hover {
    background: none;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}


/* ...................................................... */

.types {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 0px 0px 30px 40px;
    gap: 60px;
}


@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');

.h1 {
    font-size: 30px;
    font-family: 'Delius Swash Caps', cursive;
}

.h {
    font-size: 20px;
}

.para1 {
    word-break: normal;
    text-align: justify;
    text-justify: inter-word;
    font-size: 15px;
    font-family: 'Edu SA Beginner', cursive;
}

li {
    font-size: 15px;
    font-family: 'Edu SA Beginner', cursive;
}

.types_main_img img {
    min-width: 100%;
    min-height: 100%;
}

@media screen and (max-width: 1100px) {
    .navbar a:not(:first-child) {
        display: none;
    }

    .navbar a.icon {
        float: right;
        display: block;
    }

    .types {
        width: 100%;
        padding: 0px 10px;
        gap: 10px;
        flex-direction: column;
    }

    .types_main_img {
        width: 100%;
        padding: 50px 30px;
        gap: 50px;
        flex-direction: column;
    }

    .h1 {
        font-size: 22px;
        font-family: 'Delius Swash Caps', cursive;
    }

    .h {
        font-size: 12px;
    }

    .para1 {
        word-break: normal;
        text-align: justify;
        text-justify: inter-word;
        font-size: 10px;
        padding: 0px;
        font-family: 'Edu SA Beginner', cursive;
    }

}



/* ...................................................................................... */

.prawns {
    height: 70%;
    width: 100%;
    padding-bottom: 30px;
    /* border: 2px solid black; */
    background-color: rgba(237, 237, 237, 0.815);
}

.p_title {
    padding: 5px 0px 0px 0px;
    text-align: center;
    font-size: 20px;
    font-family: 'Delius Swash Caps', cursive;
}

.prawn_para {
    padding: 0px 200px 0px 200px;
}

.about2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 50px 10px 50px;
    gap: 100px;
    /* border: 2px solid black; */
}


.para2img {
    /* flex-basis: 60%; */
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');

.h1 {
    font-size: 30px;
    font-family: 'Delius Swash Caps', cursive;
}

.h {
    font-size: 20px;
}

.para1 {
    word-break: normal;
    text-align: justify;
    text-justify: inter-word;
    font-size: 15px;
    padding: 0px;
    font-family: 'Edu SA Beginner', cursive;
}

@media screen and (max-width: 1100px) {
    .about2 {
        width: 100%;
        padding: 50px 30px;
        gap: 50px;
        flex-direction: column;
    }
}


/* ................................................................................... */

.fish {
    /* border: 2px solid black; */
    overflow: hidden;
    padding: 30px 100px 50px 100px;
}

.f_title {
    text-align: center;
    /* border: 2px solid black; */
    padding: 10px 200px 10px 200px;
}

.img-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.img-list li {
    border: 5px solid transparent;
    box-sizing: border-box;
    width: 33.33%;
    float: left;
    position: relative;
    cursor: pointer;
}

.img-list img {
    max-width: 100%;
    vertical-align: middle;
}

/* Image Placeholder Styles
    -------------------------------------------------------------- */
.img-placeholder:before,
.img-placeholder:after {
    padding-top: 33.33%;
    content: "";
    display: block;
}

.img-placeholder {
    background: #222;
    box-shadow: 0 0 0 8px #222 inset, 0 0 0 9px #333 inset;
    color: #444;
    line-height: 0;
    text-align: center;
    display: block;
}

/* The hover effect
    -------------------------------------------------------------- */
.img-list li:before {
    transition: all .5s ease;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333;
    transform: scale(0);
}

.img-list li:hover:before {
    opacity: .5;
    transform: scale(1);
}

.img-list li:after {
    transition: all .6s ease .2s;
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    border: 1px solid #aaa;
    background: #000;
    opacity: 0;
    transform: scale(0);
}

.img-list li:hover:after {
    opacity: .35;
    transform: scale(1);
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.list_img:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
    z-index: 10;
}

.content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.content-details p {
    color: #fff;
    font-size: 0.8em;
}

.fadeIn-bottom {
    top: 100%;
}

/* ....................................................................................... */

.crabs{
    /* border: 2px solid black; */
    background-color: rgba(237, 237, 237, 0.815);
}

.crabs_img{
    height: 60%;
    width: 100%;
    /* border: 2px solid black; */
}

.crabs_img img{
    min-height: 100%;
    min-height: 100%;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    /* border: 2px solid black; */
}

.facilities-col{
    flex-basis: 49%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    /* border: 2px solid black; */
}

.facilities-col img{
    width: 100%;
    border-radius: 10px;
}

.facilities-col p{
    padding: 0px;
}

.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

